.App {
  text-align: center;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Logo {
  background-color: #282c34;
  height: 10vh;
  width: 100vw;
  min-height: 1vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(5px + 2vmin);
  color: white;
}

.Title {
  height: 10vh;
  width: 35vw;
  padding-left: 30vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
